body{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eecc45+0,e27f4c+100 */
background:  #eecc45; /* Old browsers */
background: -moz-linear-gradient(top,  #eecc45 0%, #e27f4c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #eecc45 0%,#e27f4c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #eecc45 0%,#e27f4c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eecc45', endColorstr='#e27f4c',GradientType=0 ); /* IE6-9 */
  
  display: flex;
  flex-direction: column;
  background-attachment: fixed;

}

#root{
  margin: 4rem auto;
  width: 100vw;
  height: 100vh;
  // background-image: url('../../../src/assets/img/fondo.png') ;
  // background: cover;

}

//números
div.allTables {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 80%;
  font-style: 2rem;
  

  div.tablesOrder{
      display: flex;
      text-align: center;
      justify-content: space-between;
      margin: 1rem;
      &:nth-child(1), 
      &:nth-child(3),
      &:nth-child(5){
  
  
      }

      button {
          height: 4rem;
          width: 3rem;
          background-color: gray;
          box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.3);
          margin: 3px;
          font-size: 1.5rem;
      }
  }
} 


.allTables{
  background-color: #e5e5e5;
  padding: 1rem;
  border-radius: 20px;
}

.single-table{
  border-radius: 10px;
  color: #afafaf;
  font-size: 100%;
}

