.answer{
  margin: 0%;
  padding: 2.5%;
  background-color: transparent;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 100%;
  color: black;
  height: 80%;
  width: 60%;
  align-content: center; 
  text-align: center;
  align-items: center;
  justify-content: space-around;
  display: flex;
  margin: 0% auto;
}

.answer{
  align-content: center;
  align-items: center;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}